
services:
  postgres:
    build: ./postgres
    container_name: devops-postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      #- ./backend:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: devops-backend
    ports:
      - "5006:5000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: devops_demo
      DB_USER: postgres
      DB_PASSWORD: password
      PORT: 5000
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      #- ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: devops-frontend
    ports:
      - "3006:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    depends_on:
      - backend
    volumes:
      #- ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true

volumes:
  postgres_data: